node-red/gateway-f08/flows.json
[
  {
    "id": "tab-floor08",
    "type": "tab",
    "label": "Floor 08 Gateway",
    "disabled": false,
    "info": "Phase 2 \u2014 Flows A\u2013E (CoAP alert ingress), edge thinning, cmd routing"
  },
  {
    "id": "broker-08",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f08",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthPayloadType": "str",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closePayloadType": "str",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willPayloadType": "str",
    "sessionExpiry": "",
    "credentials": {
      "user": "thingsboard",
      "password": "tb_super_pass"
    }
  },
  {
    "id": "mqtt-in-tel-08",
    "type": "mqtt in",
    "z": "tab-floor08",
    "name": "A: telemetry",
    "topic": "campus/b01/f08/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-08",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "fn-a-parse-08"
      ]
    ]
  },
  {
    "id": "fn-a-parse-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "A: store + status topic",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'mqtt'\n};\nflow.set('floor_rooms', rooms);\nmsg.topic = msg.topic.replace(/\\/telemetry$/, '/status');\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 60,
    "wires": [
      [
        "mqtt-out-stat-08"
      ]
    ]
  },
  {
    "id": "mqtt-out-stat-08",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "A: status mirror",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "inj-coap-08-0",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r811",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "coap-obs-08-0"
      ]
    ]
  },
  {
    "id": "coap-obs-08-0",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5753/f08/r811/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r811",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "fn-bridge-08-0"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-0",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r811",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 180,
    "wires": [
      [
        "mqtt-out-bridge-08-0"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-0",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r811",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 180,
    "wires": []
  },
  {
    "id": "inj-coap-08-1",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r812",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.55,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 250,
    "wires": [
      [
        "coap-obs-08-1"
      ]
    ]
  },
  {
    "id": "coap-obs-08-1",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5754/f08/r812/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r812",
    "x": 360,
    "y": 250,
    "wires": [
      [
        "fn-bridge-08-1"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-1",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r812",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 250,
    "wires": [
      [
        "mqtt-out-bridge-08-1"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-1",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r812",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 250,
    "wires": []
  },
  {
    "id": "inj-coap-08-2",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r813",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.6,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 320,
    "wires": [
      [
        "coap-obs-08-2"
      ]
    ]
  },
  {
    "id": "coap-obs-08-2",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5755/f08/r813/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r813",
    "x": 360,
    "y": 320,
    "wires": [
      [
        "fn-bridge-08-2"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-2",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r813",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 320,
    "wires": [
      [
        "mqtt-out-bridge-08-2"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-2",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r813",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 320,
    "wires": []
  },
  {
    "id": "inj-coap-08-3",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r814",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.65,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 390,
    "wires": [
      [
        "coap-obs-08-3"
      ]
    ]
  },
  {
    "id": "coap-obs-08-3",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5756/f08/r814/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r814",
    "x": 360,
    "y": 390,
    "wires": [
      [
        "fn-bridge-08-3"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-3",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r814",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 390,
    "wires": [
      [
        "mqtt-out-bridge-08-3"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-3",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r814",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 390,
    "wires": []
  },
  {
    "id": "inj-coap-08-4",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r815",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.7,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 460,
    "wires": [
      [
        "coap-obs-08-4"
      ]
    ]
  },
  {
    "id": "coap-obs-08-4",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5757/f08/r815/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r815",
    "x": 360,
    "y": 460,
    "wires": [
      [
        "fn-bridge-08-4"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-4",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r815",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 460,
    "wires": [
      [
        "mqtt-out-bridge-08-4"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-4",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r815",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 460,
    "wires": []
  },
  {
    "id": "inj-coap-08-5",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r816",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.75,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 530,
    "wires": [
      [
        "coap-obs-08-5"
      ]
    ]
  },
  {
    "id": "coap-obs-08-5",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5758/f08/r816/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r816",
    "x": 360,
    "y": 530,
    "wires": [
      [
        "fn-bridge-08-5"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-5",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r816",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 530,
    "wires": [
      [
        "mqtt-out-bridge-08-5"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-5",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r816",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 530,
    "wires": []
  },
  {
    "id": "inj-coap-08-6",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r817",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 600,
    "wires": [
      [
        "coap-obs-08-6"
      ]
    ]
  },
  {
    "id": "coap-obs-08-6",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5759/f08/r817/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r817",
    "x": 360,
    "y": 600,
    "wires": [
      [
        "fn-bridge-08-6"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-6",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r817",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 600,
    "wires": [
      [
        "mqtt-out-bridge-08-6"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-6",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r817",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 600,
    "wires": []
  },
  {
    "id": "inj-coap-08-7",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r818",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8500000000000001,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 670,
    "wires": [
      [
        "coap-obs-08-7"
      ]
    ]
  },
  {
    "id": "coap-obs-08-7",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5760/f08/r818/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r818",
    "x": 360,
    "y": 670,
    "wires": [
      [
        "fn-bridge-08-7"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-7",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r818",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 670,
    "wires": [
      [
        "mqtt-out-bridge-08-7"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-7",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r818",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 670,
    "wires": []
  },
  {
    "id": "inj-coap-08-8",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r819",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.9,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 740,
    "wires": [
      [
        "coap-obs-08-8"
      ]
    ]
  },
  {
    "id": "coap-obs-08-8",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5761/f08/r819/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r819",
    "x": 360,
    "y": 740,
    "wires": [
      [
        "fn-bridge-08-8"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-8",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r819",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 740,
    "wires": [
      [
        "mqtt-out-bridge-08-8"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-8",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r819",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 740,
    "wires": []
  },
  {
    "id": "inj-coap-08-9",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Start observe r820",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.95,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 810,
    "wires": [
      [
        "coap-obs-08-9"
      ]
    ]
  },
  {
    "id": "coap-obs-08-9",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5762/f08/r820/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r820",
    "x": 360,
    "y": 810,
    "wires": [
      [
        "fn-bridge-08-9"
      ]
    ]
  },
  {
    "id": "fn-bridge-08-9",
    "type": "function",
    "z": "tab-floor08",
    "name": "B: bridge r820",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '08';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 810,
    "wires": [
      [
        "mqtt-out-bridge-08-9"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-08-9",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "MQTT r820",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 820,
    "y": 810,
    "wires": []
  },
  {
    "id": "inj-60-08",
    "type": "inject",
    "z": "tab-floor08",
    "name": "Every 60s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 920,
    "wires": [
      [
        "fn-thin-08"
      ]
    ]
  },
  {
    "id": "fn-thin-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "C: edge-thinning",
    "func": "const floorRooms = flow.get('floor_rooms') || {};\nconst temps = Object.values(floorRooms).map(r => r.temperature).filter(v => v != null);\nconst humids = Object.values(floorRooms).map(r => r.humidity).filter(v => v != null);\nconst occupied = Object.values(floorRooms).filter(r => r.occupancy === true).length;\nconst total = Object.keys(floorRooms).length;\nconst summary = {\n    floor: '08',\n    ts: Date.now(),\n    avg_temperature: temps.length ? Number((temps.reduce((a,b)=>a+b,0)/temps.length).toFixed(1)) : null,\n    avg_humidity: humids.length ? Number((humids.reduce((a,b)=>a+b,0)/humids.length).toFixed(1)) : null,\n    occupied_rooms: occupied,\n    total_rooms: total,\n    occupancy_rate: total > 0 ? Number((occupied / total).toFixed(4)) : 0\n};\nmsg.payload = summary;\nmsg.topic = `campus/b01/f08/floor-summary`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 920,
    "wires": [
      [
        "mqtt-sum-08"
      ]
    ]
  },
  {
    "id": "mqtt-sum-08",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "C: floor-summary",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 620,
    "y": 920,
    "wires": []
  },
  {
    "id": "mqtt-in-cmd-08",
    "type": "mqtt in",
    "z": "tab-floor08",
    "name": "D: commands",
    "topic": "campus/b01/f08/+/cmd",
    "qos": "2",
    "datatype": "utf8",
    "broker": "broker-08",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 1020,
    "wires": [
      [
        "fn-route-08"
      ]
    ]
  },
  {
    "id": "fn-route-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "D: cmd-router",
    "func": "const topic = msg.topic;\nconst parts = topic.split('/');\nif (parts.length < 5) return null;\nconst roomStr = parts[3];\nconst floorStr = parts[2];\nconst rfull = parseInt(roomStr.replace(/^r/, ''), 10);\nconst roomNum = rfull % 100;\nconst coapStart = 5753;\nconst coapPort = coapStart + (roomNum - 11);\nlet parsedPayload = msg.payload;\nif (Buffer.isBuffer(parsedPayload)) {\n    parsedPayload = parsedPayload.toString();\n}\nif (typeof parsedPayload === 'string') {\n    try { parsedPayload = JSON.parse(parsedPayload); } catch (e) { parsedPayload = {}; }\n}\nif (!parsedPayload || typeof parsedPayload !== 'object') {\n    parsedPayload = {};\n}\nconst cmdId = parsedPayload.cmd_id || parsedPayload.command_id || null;\nconst correlationId = parsedPayload.correlation_id || cmdId || null;\nconst cmdContext = {\n    topic,\n    floor: floorStr,\n    room: roomStr,\n    room_id: `b01-${floorStr}-${roomStr}`,\n    cmd_id: cmdId,\n    correlation_id: correlationId,\n    payload: parsedPayload,\n    ts: Date.now(),\n};\nflow.set('last_cmd_context', cmdContext);\nif (roomNum >= 11 && roomNum <= 20) {\n    msg.url = `coap://sim-engine:${coapPort}/${floorStr}/${roomStr}/actuators/hvac`;\n    msg.method = 'PUT';\n    msg.payload = JSON.stringify(parsedPayload);\n    const immediate = RED.util.cloneMessage(msg);\n    immediate.statusCode = '2.04';\n    return [msg, immediate];\n}\nconst immediate = RED.util.cloneMessage(msg);\nimmediate.statusCode = '2.04';\nreturn [null, immediate];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 1020,
    "wires": [
      [
        "coap-put-08"
      ],
      [
        "fn-ack-08"
      ]
    ]
  },
  {
    "id": "coap-put-08",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "D: CoAP PUT hvac",
    "x": 620,
    "y": 1020,
    "wires": [
      [
        "fn-ack-08"
      ]
    ]
  },
  {
    "id": "fn-ack-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "D: ack-builder",
    "func": "const ctx = flow.get('last_cmd_context');\nif (!ctx || !ctx.floor || !ctx.room) return null;\nconst code = msg.statusCode;\nconst ok = code == null || String(code).startsWith('2.');\nconst applied = {};\nconst p = (ctx.payload && typeof ctx.payload === 'object') ? ctx.payload : {};\nif (Object.prototype.hasOwnProperty.call(p, 'hvac_mode')) applied.hvac_mode = p.hvac_mode;\nif (Object.prototype.hasOwnProperty.call(p, 'target_temp')) applied.target_temp = p.target_temp;\nif (Object.prototype.hasOwnProperty.call(p, 'lighting_dimmer')) applied.lighting_dimmer = p.lighting_dimmer;\nconst ackPayload = {\n    cmd_id: ctx.cmd_id || null,\n    correlation_id: ctx.correlation_id || null,\n    room_id: ctx.room_id,\n    status: ok ? 'ok' : 'error',\n    timestamp: Date.now(),\n    coap_status: code == null ? null : String(code),\n    applied_actuators: applied\n};\nconst canonical = RED.util.cloneMessage(msg);\ncanonical.topic = `campus/b01/${ctx.floor}/${ctx.room}/response`;\ncanonical.payload = ackPayload;\nconst legacy = RED.util.cloneMessage(msg);\nlegacy.topic = `campus/b01/${ctx.floor}/${ctx.room}/cmd-response`;\nlegacy.payload = {\n    ok,\n    coap_status: ackPayload.coap_status,\n    ts: ackPayload.timestamp,\n    cmd_id: ackPayload.cmd_id,\n    correlation_id: ackPayload.correlation_id,\n    room_id: ackPayload.room_id\n};\nreturn [canonical, legacy];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 1020,
    "wires": [
      [
        "mqtt-ack-08"
      ],
      [
        "mqtt-ack-legacy-08"
      ]
    ]
  },
  {
    "id": "mqtt-ack-08",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "D: response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 1100,
    "y": 1020,
    "wires": []
  },
  {
    "id": "mqtt-ack-legacy-08",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "D: legacy cmd-response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 1130,
    "y": 1060,
    "wires": []
  },
  {
    "id": "st-broker-08",
    "type": "status",
    "z": "tab-floor08",
    "name": "Broker status",
    "scope": [
      "broker-08"
    ],
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "fn-offline-08"
      ]
    ]
  },
  {
    "id": "fn-offline-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "Offline: unoccupied \u2192 HVAC OFF",
    "func": "const text = (msg.status && msg.status.text) ? String(msg.status.text) : '';\nif (!text.toLowerCase().includes('disconnect') && !text.toLowerCase().includes('lost')) {\n    return null;\n}\nconst F = '08';\nconst start = 5753;\nconst rooms = flow.get('floor_rooms') || {};\nfor (let roomId = 11; roomId <= 20; roomId++) {\n    const rnum = parseInt(F, 10) * 100 + roomId;\n    const rid = `b01-f${F}-r${rnum}`;\n    const rec = rooms[rid];\n    if (rec && rec.occupancy === false) {\n        const port = start + (roomId - 11);\n        node.send({\n            url: `coap://sim-engine:${port}/f${F}/r${rnum}/actuators/hvac`,\n            method: 'PUT',\n            payload: JSON.stringify({ hvac_mode: 'OFF' }),\n        });\n    }\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1140,
    "wires": [
      [
        "coap-off-08"
      ]
    ]
  },
  {
    "id": "coap-off-08",
    "type": "coap request",
    "z": "tab-floor08",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Offline CoAP PUT",
    "x": 680,
    "y": 1140,
    "wires": []
  },
  {
    "id": "coap-srv-alerts-08",
    "type": "coap-server",
    "name": "Gateway alert listener",
    "port": "5686"
  },
  {
    "id": "coap-in-alerts-08",
    "type": "coap in",
    "z": "tab-floor08",
    "method": "POST",
    "name": "E: POST /alerts",
    "server": "coap-srv-alerts-08",
    "url": "/alerts",
    "x": 140,
    "y": 1280,
    "wires": [
      [
        "fn-alerts-08"
      ]
    ]
  },
  {
    "id": "fn-alerts-08",
    "type": "function",
    "z": "tab-floor08",
    "name": "E: ACK + MQTT alert",
    "func": "let p = msg.payload;\nif (Buffer.isBuffer(p)) { p = p.toString(); }\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst m = String(p.node_id).match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!m) return null;\nconst ack = RED.util.cloneMessage(msg);\nack.payload = '';\nack.statusCode = '2.04';\nconst out = RED.util.cloneMessage(msg);\nout.topic = `campus/b01/f${m[1]}/r${m[2]}/alert`;\nout.payload = p;\nout.qos = 2;\nreturn [ack, out];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1280,
    "wires": [
      [
        "coap-ack-alerts-08"
      ],
      [
        "mqtt-alerts-08"
      ]
    ]
  },
  {
    "id": "coap-ack-alerts-08",
    "type": "coap response",
    "z": "tab-floor08",
    "name": "E: CON ACK",
    "statusCode": "",
    "contentFormat": "application/json",
    "x": 640,
    "y": 1240,
    "wires": []
  },
  {
    "id": "mqtt-alerts-08",
    "type": "mqtt out",
    "z": "tab-floor08",
    "name": "E: HiveMQ alert QoS2",
    "topic": "",
    "qos": "2",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-08",
    "x": 640,
    "y": 1320,
    "wires": []
  }
]