node-red/gateway-f06/flows.json
[
  {
    "id": "tab-floor06",
    "type": "tab",
    "label": "Floor 06 Gateway",
    "disabled": false,
    "info": "Phase 2 \u2014 Flows A\u2013E (CoAP alert ingress), edge thinning, cmd routing"
  },
  {
    "id": "broker-06",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f06",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthPayloadType": "str",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closePayloadType": "str",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willPayloadType": "str",
    "sessionExpiry": "",
    "credentials": {
      "user": "thingsboard",
      "password": "tb_super_pass"
    }
  },
  {
    "id": "mqtt-in-tel-06",
    "type": "mqtt in",
    "z": "tab-floor06",
    "name": "A: telemetry",
    "topic": "campus/b01/f06/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-06",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "fn-a-parse-06"
      ]
    ]
  },
  {
    "id": "fn-a-parse-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "A: store + status topic",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'mqtt'\n};\nflow.set('floor_rooms', rooms);\nmsg.topic = msg.topic.replace(/\\/telemetry$/, '/status');\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 60,
    "wires": [
      [
        "mqtt-out-stat-06"
      ]
    ]
  },
  {
    "id": "mqtt-out-stat-06",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "A: status mirror",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "inj-coap-06-0",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r611",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "coap-obs-06-0"
      ]
    ]
  },
  {
    "id": "coap-obs-06-0",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5733/f06/r611/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r611",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "fn-bridge-06-0"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-0",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r611",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 180,
    "wires": [
      [
        "mqtt-out-bridge-06-0"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-0",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r611",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 180,
    "wires": []
  },
  {
    "id": "inj-coap-06-1",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r612",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.55,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 250,
    "wires": [
      [
        "coap-obs-06-1"
      ]
    ]
  },
  {
    "id": "coap-obs-06-1",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5734/f06/r612/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r612",
    "x": 360,
    "y": 250,
    "wires": [
      [
        "fn-bridge-06-1"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-1",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r612",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 250,
    "wires": [
      [
        "mqtt-out-bridge-06-1"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-1",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r612",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 250,
    "wires": []
  },
  {
    "id": "inj-coap-06-2",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r613",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.6,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 320,
    "wires": [
      [
        "coap-obs-06-2"
      ]
    ]
  },
  {
    "id": "coap-obs-06-2",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5735/f06/r613/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r613",
    "x": 360,
    "y": 320,
    "wires": [
      [
        "fn-bridge-06-2"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-2",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r613",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 320,
    "wires": [
      [
        "mqtt-out-bridge-06-2"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-2",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r613",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 320,
    "wires": []
  },
  {
    "id": "inj-coap-06-3",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r614",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.65,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 390,
    "wires": [
      [
        "coap-obs-06-3"
      ]
    ]
  },
  {
    "id": "coap-obs-06-3",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5736/f06/r614/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r614",
    "x": 360,
    "y": 390,
    "wires": [
      [
        "fn-bridge-06-3"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-3",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r614",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 390,
    "wires": [
      [
        "mqtt-out-bridge-06-3"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-3",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r614",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 390,
    "wires": []
  },
  {
    "id": "inj-coap-06-4",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r615",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.7,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 460,
    "wires": [
      [
        "coap-obs-06-4"
      ]
    ]
  },
  {
    "id": "coap-obs-06-4",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5737/f06/r615/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r615",
    "x": 360,
    "y": 460,
    "wires": [
      [
        "fn-bridge-06-4"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-4",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r615",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 460,
    "wires": [
      [
        "mqtt-out-bridge-06-4"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-4",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r615",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 460,
    "wires": []
  },
  {
    "id": "inj-coap-06-5",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r616",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.75,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 530,
    "wires": [
      [
        "coap-obs-06-5"
      ]
    ]
  },
  {
    "id": "coap-obs-06-5",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5738/f06/r616/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r616",
    "x": 360,
    "y": 530,
    "wires": [
      [
        "fn-bridge-06-5"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-5",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r616",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 530,
    "wires": [
      [
        "mqtt-out-bridge-06-5"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-5",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r616",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 530,
    "wires": []
  },
  {
    "id": "inj-coap-06-6",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r617",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 600,
    "wires": [
      [
        "coap-obs-06-6"
      ]
    ]
  },
  {
    "id": "coap-obs-06-6",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5739/f06/r617/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r617",
    "x": 360,
    "y": 600,
    "wires": [
      [
        "fn-bridge-06-6"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-6",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r617",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 600,
    "wires": [
      [
        "mqtt-out-bridge-06-6"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-6",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r617",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 600,
    "wires": []
  },
  {
    "id": "inj-coap-06-7",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r618",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8500000000000001,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 670,
    "wires": [
      [
        "coap-obs-06-7"
      ]
    ]
  },
  {
    "id": "coap-obs-06-7",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5740/f06/r618/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r618",
    "x": 360,
    "y": 670,
    "wires": [
      [
        "fn-bridge-06-7"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-7",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r618",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 670,
    "wires": [
      [
        "mqtt-out-bridge-06-7"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-7",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r618",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 670,
    "wires": []
  },
  {
    "id": "inj-coap-06-8",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r619",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.9,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 740,
    "wires": [
      [
        "coap-obs-06-8"
      ]
    ]
  },
  {
    "id": "coap-obs-06-8",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5741/f06/r619/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r619",
    "x": 360,
    "y": 740,
    "wires": [
      [
        "fn-bridge-06-8"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-8",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r619",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 740,
    "wires": [
      [
        "mqtt-out-bridge-06-8"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-8",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r619",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 740,
    "wires": []
  },
  {
    "id": "inj-coap-06-9",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Start observe r620",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.95,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 810,
    "wires": [
      [
        "coap-obs-06-9"
      ]
    ]
  },
  {
    "id": "coap-obs-06-9",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "GET",
    "observe": true,
    "url": "coap://sim-engine:5742/f06/r620/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r620",
    "x": 360,
    "y": 810,
    "wires": [
      [
        "fn-bridge-06-9"
      ]
    ]
  },
  {
    "id": "fn-bridge-06-9",
    "type": "function",
    "z": "tab-floor06",
    "name": "B: bridge r620",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = '06';\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 810,
    "wires": [
      [
        "mqtt-out-bridge-06-9"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-06-9",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "MQTT r620",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 820,
    "y": 810,
    "wires": []
  },
  {
    "id": "inj-60-06",
    "type": "inject",
    "z": "tab-floor06",
    "name": "Every 60s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 920,
    "wires": [
      [
        "fn-thin-06"
      ]
    ]
  },
  {
    "id": "fn-thin-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "C: edge-thinning",
    "func": "const floorRooms = flow.get('floor_rooms') || {};\nconst temps = Object.values(floorRooms).map(r => r.temperature).filter(v => v != null);\nconst humids = Object.values(floorRooms).map(r => r.humidity).filter(v => v != null);\nconst occupied = Object.values(floorRooms).filter(r => r.occupancy === true).length;\nconst total = Object.keys(floorRooms).length;\nconst summary = {\n    floor: '06',\n    ts: Date.now(),\n    avg_temperature: temps.length ? Number((temps.reduce((a,b)=>a+b,0)/temps.length).toFixed(1)) : null,\n    avg_humidity: humids.length ? Number((humids.reduce((a,b)=>a+b,0)/humids.length).toFixed(1)) : null,\n    occupied_rooms: occupied,\n    total_rooms: total,\n    occupancy_rate: total > 0 ? Number((occupied / total).toFixed(4)) : 0\n};\nmsg.payload = summary;\nmsg.topic = `campus/b01/f06/floor-summary`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 920,
    "wires": [
      [
        "mqtt-sum-06"
      ]
    ]
  },
  {
    "id": "mqtt-sum-06",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "C: floor-summary",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 620,
    "y": 920,
    "wires": []
  },
  {
    "id": "mqtt-in-cmd-06",
    "type": "mqtt in",
    "z": "tab-floor06",
    "name": "D: commands",
    "topic": "campus/b01/f06/+/cmd",
    "qos": "2",
    "datatype": "utf8",
    "broker": "broker-06",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 1020,
    "wires": [
      [
        "fn-route-06"
      ]
    ]
  },
  {
    "id": "fn-route-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "D: cmd-router",
    "func": "const topic = msg.topic;\nconst parts = topic.split('/');\nif (parts.length < 5) return null;\nconst roomStr = parts[3];\nconst floorStr = parts[2];\nconst rfull = parseInt(roomStr.replace(/^r/, ''), 10);\nconst roomNum = rfull % 100;\nconst coapStart = 5733;\nconst coapPort = coapStart + (roomNum - 11);\nlet parsedPayload = msg.payload;\nif (Buffer.isBuffer(parsedPayload)) {\n    parsedPayload = parsedPayload.toString();\n}\nif (typeof parsedPayload === 'string') {\n    try { parsedPayload = JSON.parse(parsedPayload); } catch (e) { parsedPayload = {}; }\n}\nif (!parsedPayload || typeof parsedPayload !== 'object') {\n    parsedPayload = {};\n}\nconst cmdId = parsedPayload.cmd_id || parsedPayload.command_id || null;\nconst correlationId = parsedPayload.correlation_id || cmdId || null;\nconst cmdContext = {\n    topic,\n    floor: floorStr,\n    room: roomStr,\n    room_id: `b01-${floorStr}-${roomStr}`,\n    cmd_id: cmdId,\n    correlation_id: correlationId,\n    payload: parsedPayload,\n    ts: Date.now(),\n};\nflow.set('last_cmd_context', cmdContext);\nif (roomNum >= 11 && roomNum <= 20) {\n    msg.url = `coap://sim-engine:${coapPort}/${floorStr}/${roomStr}/actuators/hvac`;\n    msg.method = 'PUT';\n    msg.payload = JSON.stringify(parsedPayload);\n    const immediate = RED.util.cloneMessage(msg);\n    immediate.statusCode = '2.04';\n    return [msg, immediate];\n}\nconst immediate = RED.util.cloneMessage(msg);\nimmediate.statusCode = '2.04';\nreturn [null, immediate];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 1020,
    "wires": [
      [
        "coap-put-06"
      ],
      [
        "fn-ack-06"
      ]
    ]
  },
  {
    "id": "coap-put-06",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "D: CoAP PUT hvac",
    "x": 620,
    "y": 1020,
    "wires": [
      [
        "fn-ack-06"
      ]
    ]
  },
  {
    "id": "fn-ack-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "D: ack-builder",
    "func": "const ctx = flow.get('last_cmd_context');\nif (!ctx || !ctx.floor || !ctx.room) return null;\nconst code = msg.statusCode;\nconst ok = code == null || String(code).startsWith('2.');\nconst applied = {};\nconst p = (ctx.payload && typeof ctx.payload === 'object') ? ctx.payload : {};\nif (Object.prototype.hasOwnProperty.call(p, 'hvac_mode')) applied.hvac_mode = p.hvac_mode;\nif (Object.prototype.hasOwnProperty.call(p, 'target_temp')) applied.target_temp = p.target_temp;\nif (Object.prototype.hasOwnProperty.call(p, 'lighting_dimmer')) applied.lighting_dimmer = p.lighting_dimmer;\nconst ackPayload = {\n    cmd_id: ctx.cmd_id || null,\n    correlation_id: ctx.correlation_id || null,\n    room_id: ctx.room_id,\n    status: ok ? 'ok' : 'error',\n    timestamp: Date.now(),\n    coap_status: code == null ? null : String(code),\n    applied_actuators: applied\n};\nconst canonical = RED.util.cloneMessage(msg);\ncanonical.topic = `campus/b01/${ctx.floor}/${ctx.room}/response`;\ncanonical.payload = ackPayload;\nconst legacy = RED.util.cloneMessage(msg);\nlegacy.topic = `campus/b01/${ctx.floor}/${ctx.room}/cmd-response`;\nlegacy.payload = {\n    ok,\n    coap_status: ackPayload.coap_status,\n    ts: ackPayload.timestamp,\n    cmd_id: ackPayload.cmd_id,\n    correlation_id: ackPayload.correlation_id,\n    room_id: ackPayload.room_id\n};\nreturn [canonical, legacy];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 1020,
    "wires": [
      [
        "mqtt-ack-06"
      ],
      [
        "mqtt-ack-legacy-06"
      ]
    ]
  },
  {
    "id": "mqtt-ack-06",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "D: response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 1100,
    "y": 1020,
    "wires": []
  },
  {
    "id": "mqtt-ack-legacy-06",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "D: legacy cmd-response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 1130,
    "y": 1060,
    "wires": []
  },
  {
    "id": "st-broker-06",
    "type": "status",
    "z": "tab-floor06",
    "name": "Broker status",
    "scope": [
      "broker-06"
    ],
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "fn-offline-06"
      ]
    ]
  },
  {
    "id": "fn-offline-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "Offline: unoccupied \u2192 HVAC OFF",
    "func": "const text = (msg.status && msg.status.text) ? String(msg.status.text) : '';\nif (!text.toLowerCase().includes('disconnect') && !text.toLowerCase().includes('lost')) {\n    return null;\n}\nconst F = '06';\nconst start = 5733;\nconst rooms = flow.get('floor_rooms') || {};\nfor (let roomId = 11; roomId <= 20; roomId++) {\n    const rnum = parseInt(F, 10) * 100 + roomId;\n    const rid = `b01-f${F}-r${rnum}`;\n    const rec = rooms[rid];\n    if (rec && rec.occupancy === false) {\n        const port = start + (roomId - 11);\n        node.send({\n            url: `coap://sim-engine:${port}/f${F}/r${rnum}/actuators/hvac`,\n            method: 'PUT',\n            payload: JSON.stringify({ hvac_mode: 'OFF' }),\n        });\n    }\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1140,
    "wires": [
      [
        "coap-off-06"
      ]
    ]
  },
  {
    "id": "coap-off-06",
    "type": "coap request",
    "z": "tab-floor06",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Offline CoAP PUT",
    "x": 680,
    "y": 1140,
    "wires": []
  },
  {
    "id": "coap-srv-alerts-06",
    "type": "coap-server",
    "name": "Gateway alert listener",
    "port": "5686"
  },
  {
    "id": "coap-in-alerts-06",
    "type": "coap in",
    "z": "tab-floor06",
    "method": "POST",
    "name": "E: POST /alerts",
    "server": "coap-srv-alerts-06",
    "url": "/alerts",
    "x": 140,
    "y": 1280,
    "wires": [
      [
        "fn-alerts-06"
      ]
    ]
  },
  {
    "id": "fn-alerts-06",
    "type": "function",
    "z": "tab-floor06",
    "name": "E: ACK + MQTT alert",
    "func": "let p = msg.payload;\nif (Buffer.isBuffer(p)) { p = p.toString(); }\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst m = String(p.node_id).match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!m) return null;\nconst ack = RED.util.cloneMessage(msg);\nack.payload = '';\nack.statusCode = '2.04';\nconst out = RED.util.cloneMessage(msg);\nout.topic = `campus/b01/f${m[1]}/r${m[2]}/alert`;\nout.payload = p;\nout.qos = 2;\nreturn [ack, out];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1280,
    "wires": [
      [
        "coap-ack-alerts-06"
      ],
      [
        "mqtt-alerts-06"
      ]
    ]
  },
  {
    "id": "coap-ack-alerts-06",
    "type": "coap response",
    "z": "tab-floor06",
    "name": "E: CON ACK",
    "statusCode": "",
    "contentFormat": "application/json",
    "x": 640,
    "y": 1240,
    "wires": []
  },
  {
    "id": "mqtt-alerts-06",
    "type": "mqtt out",
    "z": "tab-floor06",
    "name": "E: HiveMQ alert QoS2",
    "topic": "",
    "qos": "2",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-06",
    "x": 640,
    "y": 1320,
    "wires": []
  }
]