node-red/gateway-f03/flows.json
[
  {
    "id": "tab-floor03",
    "type": "tab",
    "label": "Floor 03 Gateway",
    "disabled": false,
    "info": "Phase 2 \u2014 Flows A\u2013E (CoAP alert ingress), edge thinning, cmd routing"
  },
  {
    "id": "broker-03",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "$(HIVEMQ_HOST)",
    "port": "$(HIVEMQ_PORT)",
    "clientid": "nodered-gw-f$(FLOOR)",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthPayloadType": "str",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closePayloadType": "str",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willPayloadType": "str",
    "sessionExpiry": "",
    "credentials": {
      "user": "$(MQTT_USER)",
      "password": "$(MQTT_PASS)"
    }
  },
  {
    "id": "mqtt-in-tel-03",
    "type": "mqtt in",
    "z": "tab-floor03",
    "name": "A: telemetry",
    "topic": "campus/b01/f03/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-03",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "fn-a-parse-03"
      ]
    ]
  },
  {
    "id": "fn-a-parse-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "A: store + status topic",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'mqtt'\n};\nflow.set('floor_rooms', rooms);\nmsg.topic = msg.topic.replace(/\\/telemetry$/, '/status');\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 60,
    "wires": [
      [
        "mqtt-out-stat-03"
      ]
    ]
  },
  {
    "id": "mqtt-out-stat-03",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "A: status mirror",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "inj-coap-03-0",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r311",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "coap-obs-03-0"
      ]
    ]
  },
  {
    "id": "coap-obs-03-0",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5703/f03/r311/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r311",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "fn-bridge-03-0"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-0",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r311",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 180,
    "wires": [
      [
        "mqtt-out-bridge-03-0"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-0",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r311",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 180,
    "wires": []
  },
  {
    "id": "inj-coap-03-1",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r312",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.55,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 250,
    "wires": [
      [
        "coap-obs-03-1"
      ]
    ]
  },
  {
    "id": "coap-obs-03-1",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5704/f03/r312/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r312",
    "x": 360,
    "y": 250,
    "wires": [
      [
        "fn-bridge-03-1"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-1",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r312",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 250,
    "wires": [
      [
        "mqtt-out-bridge-03-1"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-1",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r312",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 250,
    "wires": []
  },
  {
    "id": "inj-coap-03-2",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r313",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.6,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 320,
    "wires": [
      [
        "coap-obs-03-2"
      ]
    ]
  },
  {
    "id": "coap-obs-03-2",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5705/f03/r313/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r313",
    "x": 360,
    "y": 320,
    "wires": [
      [
        "fn-bridge-03-2"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-2",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r313",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 320,
    "wires": [
      [
        "mqtt-out-bridge-03-2"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-2",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r313",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 320,
    "wires": []
  },
  {
    "id": "inj-coap-03-3",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r314",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.65,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 390,
    "wires": [
      [
        "coap-obs-03-3"
      ]
    ]
  },
  {
    "id": "coap-obs-03-3",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5706/f03/r314/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r314",
    "x": 360,
    "y": 390,
    "wires": [
      [
        "fn-bridge-03-3"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-3",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r314",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 390,
    "wires": [
      [
        "mqtt-out-bridge-03-3"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-3",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r314",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 390,
    "wires": []
  },
  {
    "id": "inj-coap-03-4",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r315",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.7,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 460,
    "wires": [
      [
        "coap-obs-03-4"
      ]
    ]
  },
  {
    "id": "coap-obs-03-4",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5707/f03/r315/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r315",
    "x": 360,
    "y": 460,
    "wires": [
      [
        "fn-bridge-03-4"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-4",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r315",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 460,
    "wires": [
      [
        "mqtt-out-bridge-03-4"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-4",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r315",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 460,
    "wires": []
  },
  {
    "id": "inj-coap-03-5",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r316",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.75,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 530,
    "wires": [
      [
        "coap-obs-03-5"
      ]
    ]
  },
  {
    "id": "coap-obs-03-5",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5708/f03/r316/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r316",
    "x": 360,
    "y": 530,
    "wires": [
      [
        "fn-bridge-03-5"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-5",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r316",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 530,
    "wires": [
      [
        "mqtt-out-bridge-03-5"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-5",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r316",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 530,
    "wires": []
  },
  {
    "id": "inj-coap-03-6",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r317",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 600,
    "wires": [
      [
        "coap-obs-03-6"
      ]
    ]
  },
  {
    "id": "coap-obs-03-6",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5709/f03/r317/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r317",
    "x": 360,
    "y": 600,
    "wires": [
      [
        "fn-bridge-03-6"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-6",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r317",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 600,
    "wires": [
      [
        "mqtt-out-bridge-03-6"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-6",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r317",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 600,
    "wires": []
  },
  {
    "id": "inj-coap-03-7",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r318",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8500000000000001,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 670,
    "wires": [
      [
        "coap-obs-03-7"
      ]
    ]
  },
  {
    "id": "coap-obs-03-7",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5710/f03/r318/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r318",
    "x": 360,
    "y": 670,
    "wires": [
      [
        "fn-bridge-03-7"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-7",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r318",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 670,
    "wires": [
      [
        "mqtt-out-bridge-03-7"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-7",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r318",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 670,
    "wires": []
  },
  {
    "id": "inj-coap-03-8",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r319",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.9,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 740,
    "wires": [
      [
        "coap-obs-03-8"
      ]
    ]
  },
  {
    "id": "coap-obs-03-8",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5711/f03/r319/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r319",
    "x": 360,
    "y": 740,
    "wires": [
      [
        "fn-bridge-03-8"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-8",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r319",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 740,
    "wires": [
      [
        "mqtt-out-bridge-03-8"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-8",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r319",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 740,
    "wires": []
  },
  {
    "id": "inj-coap-03-9",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Start observe r320",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.95,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 810,
    "wires": [
      [
        "coap-obs-03-9"
      ]
    ]
  },
  {
    "id": "coap-obs-03-9",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "GET",
    "observe": true,
    "url": "$(COAP_SCHEME)://$(SIM_ENGINE_HOST):5712/f03/r320/telemetry",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Observe r320",
    "x": 360,
    "y": 810,
    "wires": [
      [
        "fn-bridge-03-9"
      ]
    ]
  },
  {
    "id": "fn-bridge-03-9",
    "type": "function",
    "z": "tab-floor03",
    "name": "B: bridge r320",
    "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst rooms = flow.get('floor_rooms') || {};\nrooms[p.node_id] = {\n    temperature: p.temperature,\n    humidity: p.humidity,\n    occupancy: p.occupancy,\n    ts: p.ts,\n    source: 'coap'\n};\nflow.set('floor_rooms', rooms);\nconst r = p.node_id.split('-r')[1];\nconst f = process.env.FLOOR;\nmsg.topic = `campus/b01/f${f}/r${r}/telemetry`;\nmsg.qos = 1;\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 810,
    "wires": [
      [
        "mqtt-out-bridge-03-9"
      ]
    ]
  },
  {
    "id": "mqtt-out-bridge-03-9",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "MQTT r320",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 820,
    "y": 810,
    "wires": []
  },
  {
    "id": "inj-60-03",
    "type": "inject",
    "z": "tab-floor03",
    "name": "Every 60s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 920,
    "wires": [
      [
        "fn-thin-03"
      ]
    ]
  },
  {
    "id": "fn-thin-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "C: edge-thinning",
    "func": "const floorRooms = flow.get('floor_rooms') || {};\nconst temps = Object.values(floorRooms).map(r => r.temperature).filter(v => v != null);\nconst humids = Object.values(floorRooms).map(r => r.humidity).filter(v => v != null);\nconst occupied = Object.values(floorRooms).filter(r => r.occupancy === true).length;\nconst summary = {\n    floor: process.env.FLOOR,\n    ts: Date.now(),\n    avg_temperature: temps.length ? (temps.reduce((a,b)=>a+b,0)/temps.length).toFixed(1) : null,\n    avg_humidity: humids.length ? (humids.reduce((a,b)=>a+b,0)/humids.length).toFixed(1) : null,\n    occupied_rooms: occupied,\n    total_rooms: Object.keys(floorRooms).length\n};\nmsg.payload = summary;\nmsg.topic = `campus/b01/f${process.env.FLOOR}/floor-summary`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 920,
    "wires": [
      [
        "mqtt-sum-03"
      ]
    ]
  },
  {
    "id": "mqtt-sum-03",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "C: floor-summary",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 620,
    "y": 920,
    "wires": []
  },
  {
    "id": "mqtt-in-cmd-03",
    "type": "mqtt in",
    "z": "tab-floor03",
    "name": "D: commands",
    "topic": "campus/b01/f03/+/cmd",
    "qos": "2",
    "datatype": "utf8",
    "broker": "broker-03",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 1020,
    "wires": [
      [
        "fn-route-03"
      ]
    ]
  },
  {
    "id": "fn-route-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "D: cmd-router",
    "func": "const topic = msg.topic;\nconst parts = topic.split('/');\nif (parts.length < 5) return null;\nconst roomStr = parts[3];\nconst floorStr = parts[2];\nconst rfull = parseInt(roomStr.replace(/^r/, ''), 10);\nconst roomNum = rfull % 100;\nconst coapStart = parseInt(process.env.COAP_PORT_START || '5683', 10);\nconst coapPort = coapStart + (roomNum - 11);\nlet parsedPayload = msg.payload;\nif (Buffer.isBuffer(parsedPayload)) {\n    parsedPayload = parsedPayload.toString();\n}\nif (typeof parsedPayload === 'string') {\n    try { parsedPayload = JSON.parse(parsedPayload); } catch (e) { parsedPayload = {}; }\n}\nif (!parsedPayload || typeof parsedPayload !== 'object') {\n    parsedPayload = {};\n}\nconst cmdId = parsedPayload.cmd_id || parsedPayload.command_id || null;\nconst correlationId = parsedPayload.correlation_id || cmdId || null;\nconst cmdContext = {\n    topic,\n    floor: floorStr,\n    room: roomStr,\n    room_id: `b01-${floorStr}-${roomStr}`,\n    cmd_id: cmdId,\n    correlation_id: correlationId,\n    payload: parsedPayload,\n    ts: Date.now(),\n};\nflow.set('last_cmd_context', cmdContext);\nif (roomNum >= 11 && roomNum <= 20) {\n    const coapScheme = process.env.COAP_SCHEME || 'coap';\n    msg.url = `${coapScheme}://${process.env.SIM_ENGINE_HOST}:${coapPort}/${floorStr}/${roomStr}/actuators/hvac`;\n    msg.method = 'PUT';\n    msg.payload = JSON.stringify(parsedPayload);\n    return [msg, null];\n}\nreturn [null, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 1020,
    "wires": [
      [
        "coap-put-03"
      ],
      []
    ]
  },
  {
    "id": "coap-put-03",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "D: CoAP PUT hvac",
    "x": 620,
    "y": 1020,
    "wires": [
      [
        "fn-ack-03"
      ]
    ]
  },
  {
    "id": "fn-ack-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "D: ack-builder",
    "func": "const ctx = flow.get('last_cmd_context');\nif (!ctx || !ctx.floor || !ctx.room) return null;\nconst code = msg.statusCode;\nconst ok = code == null || String(code).startsWith('2.');\nconst applied = {};\nconst p = (ctx.payload && typeof ctx.payload === 'object') ? ctx.payload : {};\nif (Object.prototype.hasOwnProperty.call(p, 'hvac_mode')) applied.hvac_mode = p.hvac_mode;\nif (Object.prototype.hasOwnProperty.call(p, 'target_temp')) applied.target_temp = p.target_temp;\nif (Object.prototype.hasOwnProperty.call(p, 'lighting_dimmer')) applied.lighting_dimmer = p.lighting_dimmer;\nconst ackPayload = {\n    cmd_id: ctx.cmd_id || null,\n    correlation_id: ctx.correlation_id || null,\n    room_id: ctx.room_id,\n    status: ok ? 'ok' : 'error',\n    timestamp: Date.now(),\n    coap_status: code == null ? null : String(code),\n    applied_actuators: applied\n};\nconst canonical = RED.util.cloneMessage(msg);\ncanonical.topic = `campus/b01/${ctx.floor}/${ctx.room}/response`;\ncanonical.payload = ackPayload;\nconst legacy = RED.util.cloneMessage(msg);\nlegacy.topic = `campus/b01/${ctx.floor}/${ctx.room}/cmd-response`;\nlegacy.payload = {\n    ok,\n    coap_status: ackPayload.coap_status,\n    ts: ackPayload.timestamp,\n    cmd_id: ackPayload.cmd_id,\n    correlation_id: ackPayload.correlation_id,\n    room_id: ackPayload.room_id\n};\nreturn [canonical, legacy];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 1020,
    "wires": [
      [
        "mqtt-ack-03"
      ],
      [
        "mqtt-ack-legacy-03"
      ]
    ]
  },
  {
    "id": "mqtt-ack-03",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "D: response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 1100,
    "y": 1020,
    "wires": []
  },
  {
    "id": "mqtt-ack-legacy-03",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "D: legacy cmd-response MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 1130,
    "y": 1060,
    "wires": []
  },
  {
    "id": "st-broker-03",
    "type": "status",
    "z": "tab-floor03",
    "name": "Broker status",
    "scope": [
      "broker-03"
    ],
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "fn-offline-03"
      ]
    ]
  },
  {
    "id": "fn-offline-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "Offline: unoccupied \u2192 HVAC OFF",
    "func": "const text = (msg.status && msg.status.text) ? String(msg.status.text) : '';\nif (!text.toLowerCase().includes('disconnect') && !text.toLowerCase().includes('lost')) {\n    return null;\n}\nconst F = process.env.FLOOR;\nconst start = parseInt(process.env.COAP_PORT_START || '5683', 10);\nconst rooms = flow.get('floor_rooms') || {};\nfor (let roomId = 11; roomId <= 20; roomId++) {\n    const rnum = parseInt(F, 10) * 100 + roomId;\n    const rid = `b01-f${F}-r${rnum}`;\n    const rec = rooms[rid];\n    if (rec && rec.occupancy === false) {\n        const port = start + (roomId - 11);\n        node.send({\n            url: `${process.env.COAP_SCHEME || 'coap'}://${process.env.SIM_ENGINE_HOST}:${port}/f${F}/r${rnum}/actuators/hvac`,\n            method: 'PUT',\n            payload: JSON.stringify({ hvac_mode: 'OFF' }),\n        });\n    }\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1140,
    "wires": [
      [
        "coap-off-03"
      ]
    ]
  },
  {
    "id": "coap-off-03",
    "type": "coap request",
    "z": "tab-floor03",
    "method": "PUT",
    "observe": false,
    "url": "",
    "content-format": "application/json",
    "raw-buffer": false,
    "name": "Offline CoAP PUT",
    "x": 680,
    "y": 1140,
    "wires": []
  },
  {
    "id": "coap-srv-alerts-03",
    "type": "coap-server",
    "name": "Gateway alert listener",
    "port": "$(COAP_LISTEN_PORT)"
  },
  {
    "id": "coap-in-alerts-03",
    "type": "coap in",
    "z": "tab-floor03",
    "method": "POST",
    "name": "E: POST /alerts",
    "server": "coap-srv-alerts-03",
    "url": "/alerts",
    "x": 140,
    "y": 1280,
    "wires": [
      [
        "fn-alerts-03"
      ]
    ]
  },
  {
    "id": "fn-alerts-03",
    "type": "function",
    "z": "tab-floor03",
    "name": "E: ACK + MQTT alert",
    "func": "let p = msg.payload;\nif (Buffer.isBuffer(p)) { p = p.toString(); }\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || !p.node_id) return null;\nconst m = String(p.node_id).match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!m) return null;\nconst ack = RED.util.cloneMessage(msg);\nack.payload = '';\nack.statusCode = '2.04';\nconst out = RED.util.cloneMessage(msg);\nout.topic = `campus/b01/f${m[1]}/r${m[2]}/alert`;\nout.payload = p;\nout.qos = 2;\nreturn [ack, out];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1280,
    "wires": [
      [
        "coap-ack-alerts-03"
      ],
      [
        "mqtt-alerts-03"
      ]
    ]
  },
  {
    "id": "coap-ack-alerts-03",
    "type": "coap response",
    "z": "tab-floor03",
    "name": "E: CON ACK",
    "statusCode": "",
    "contentFormat": "application/json",
    "x": 640,
    "y": 1240,
    "wires": []
  },
  {
    "id": "mqtt-alerts-03",
    "type": "mqtt out",
    "z": "tab-floor03",
    "name": "E: HiveMQ alert QoS2",
    "topic": "",
    "qos": "2",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-03",
    "x": 640,
    "y": 1320,
    "wires": []
  }
]